

.calculator{
    border-radius: 25px;
    background: linear-gradient(90deg, rgba(95,95,95,1) 4%, rgba(221,219,219,1) 55%, rgba(95,95,95,1) 99%);
    height: 500px;
    width: 400px;
    margin: 50px 50px;
    padding: 30px 20px;
    -webkit-box-shadow: 1px 4px 11px 3px #666666; 
    box-shadow: 1px 4px 11px 3px #666666;
}

.display{
    border-radius: 15px;
    background-color: #c3d5e4;
    height: 100px;
    width: 380px;
    margin: 20px 10px;
    -webkit-box-shadow: inset 0px -11px 18px 3px #717C84; 
    box-shadow: inset 0px -11px 18px 3px #717C84;
}

.displayNumbers{
    text-align: right;
    color:#ffff;
    font-size: 50px;
    height: 50px;
    padding: 25px 5px;

}

.keys{
    margin: auto 18px;
    height: 250px;
    width: 380px;
}
button{
    height: 70px;
    width: 90px;
    margin: 1px 0;
    font-size: 35px;
    font-weight: bold;
    border-radius: 5px;
    -webkit-box-shadow: inset 0px -7px 11px 3px #999EA3; 
    box-shadow: inset 0px -7px 11px 3px #999EA3;
}

button:active {
    border-style: inset;
    box-shadow: 0 1px 3px rgba(0,0,0.3);
  }